package web

templ NewUserForm() {
	<form hx-post="/users/new" method="POST" hx-target="#users-list">
		<input id="name" name="name" type="text"/>
		<button type="submit">Submit</button>
	</form>
}

templ User (name string) {
		<span>{name}</span>
}

templ UserList () {
		<div id="users-list"></div>
}


templ UsersPage () {
	@Base() {
		@NewUserForm()
		@UserList()
	}
}
